
        
           
        {% extends 'base.html' %}
        {% load static %}
        {% block nav %}
        
        <!--=====================================-->
        <!--=          Contact Area Start       =-->
        <!--=====================================-->
     
        <section class="archive-wrap-layout-3 space-top-60 bg-color-light-1 transition-default">
            <div class="container">
                <div class="row g-3">
                    {% for post in posts %}
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="animated-border border-style-large transition-default">
                            <div class="animation-child post-box-layout18 box-border-dark-1 radius-default padding-20 bg-color-light-1 transition-default">
                                <div class="figure-holder radius-default" style="display: flex; justify-content: center; align-items: center;">
                                    {% if post.image %}
                                    <a class=""><img src="{{ post.image.url }}"style="display: block; width: 500px; height: 200px; object-fit: cover;"  alt="Post"></a>
                                    {% else %}
                                    <!-- Display a default image or a message if no image is available -->
                                     <p>No image available</p>
                                     {% endif %}
                                </div>
                                <div class="content-holder">
                                    <div class="entry-category style-2 color-dark-1-fixed">
                                        <ul>
                                            <li>
                                                <a href="{% url 'post_list_by_category_paginated' category.slug  %}">{{ category.name }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="entry-title color-dark-1 underline-animation"><a class="link-wrap">{{ post.title }}</a></h3>
                                    <ul class="entry-meta color-dark-1">
                                        <li class="post-author">
                                            <a>
                                                <!-- <img src="assets/media/blog/profile3.webp" alt="Author"> -->
                                                {{ post.author_name }}
                                            </a>
                                        </li>
                                        <li>
                                            <i class="regular-clock-circle"></i>9 min read
                                        </li>
                                        <li>
                                            <i class="regular-eye"></i>9k
                                        </li>
                                    </ul>
                                    <a href="{% url 'post_details' post.category.slug post.id %}" class="btn-text color-dark-1 mt-3">See Details<span class="icon-holder"><i class="regular-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        
                    </div>
                    <div class="template-pagination pagination-center">
                        <ul>
                            {% if page_obj.has_previous %}
                                <li><a href="{% url 'post_list_by_category_paginated' category.slug %}?page={{ page_obj.previous_page_number }}">Prev</a></li>
                            {% else %}
                                <li class="disabled"></li>
                            {% endif %}
                            
                            {% if page_obj.number > 2 %}
                                <li><a href="{% url 'post_list_by_category' category.slug %}?page=1">1</a></li>
                                <li class="disabled">...</li>
                            {% endif %}
                            
                            {% for page in page_obj.paginator.page_range %}
                                {% if page >= page_obj.number|add:-1 and page <= page_obj.number|add:1 %}
                                    <li {% if page == page_obj.number %}class="selected"{% endif %}>
                                        <a href="{% url 'post_list_by_category_paginated' category.slug %}?page={{ page }}">{{ page }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            
                            {% if page_obj.paginator.num_pages > page_obj.number|add:1 %}
                                <li class="disabled">...</li>
                                <li><a href="{% url 'post_list_by_category' category.slug %}?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                            {% endif %}
                            
                            {% if page_obj.has_next %}
                                <li><a href="{% url 'post_list_by_category_paginated' category.slug %}?page={{ page_obj.next_page_number }}">Next</a></li>
                            {% else %}
                                <li class="disabled"></li>
                            {% endif %}
                        </ul>
                    </div>
                    
                </div>
            </section>
                    {% endblock nav %}

                
        <!--=====================================-->
        <!--=        Newsletter Area Start      =-->
        <!--=====================================-->
        
